<ion-content class="ion-padding">
  <!-- Segunda fila -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="4" size-lg="4">
        <a style="text-decoration: none;" href="./grid-page" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>grid-page</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Lunes 23 de septiembre del 2024
            </ion-card-content>
          </ion-card>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>