<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="size_icon_v1 ocultar_movil" name="menu-outline" slot="start" (click)="toggleMenu()"></ion-icon>
    <ion-title class="header-title">
      <span>Prueba</span>
      <img src="assets/images/tweaking-robot.gif" alt="Logo" class="logo-img css_img">
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <!-- Contenido -->
  <ion-content class="content-padding">
    <h2 class="text-danger">Prueba - 🙂💫</h2>
    <h1>Greething Sans Font</h1>
    <p>
      <br>
      <strong>GREETHING SANS</strong> is a simple and vintage sans serif font that has a shadow block or line which
      was
      designed to fit
      the requirements of your next design project.
      <br><br>
      Dear Family, Can be used for many different things. These elements are the main ones like the title, logo,
      correspondence, wedding invitations, letterhead, signage, labels, newsletters, posters, badges, t-shirt, etc.
      <br><br>
      This font is for PERSONAL USE ONLY !
      <br><br>
      Link to purchase full version and commercial license: BUY HERE
    </p>
    <ion-datetime style="width: auto; height: auto;"></ion-datetime>
    <!-- <ion-footer class="mt-5">
      <ion-toolbar>
        <ion-title class="mt-5" text-center><h6>© 2024 Mi Aplicación. Todos los derechos reservados.</h6></ion-title>
      </ion-toolbar>
    </ion-footer> -->
  </ion-content>
</ion-content>
<!-- <img src="assets/images/Loading.gif" width="20%" height="auto" alt="Logo" class="logo-img"> -->