.logo-container {
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

  //  --- ---- Login 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    padding: 20px;
  }