<!-- <ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar barra_login" color="nome">
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="login-container">
    <form class="login-form mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="logo-container">
        <img src="assets/images/UTEQC.png" alt="Logo" class="logo">
      </div>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"></ion-input>
          <div color="none" class="btn_ahow_pass" slot="end" (click)="togglePasswordVisibility()">
            <ion-icon style="color: black;" [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
          </div>
        </ion-item>        
      </ion-list>
      <div class="buttons-container">
        <ion-button expand="full" shape="round" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
        <ion-button expand="full" color="none" routerLink="/register" shape="round" style="color: rgb(0, 0, 0);" type="button">Registro</ion-button>
        <ion-button expand="full" color="none" shape="round" type="button">
          <img loading="lazy" width="50px" height="15px"
            src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png" alt="Google">
        </ion-button>
      </div>
      <p class="register-link">
        <a routerLink="#">¡Olvidé mi contraseña..! </a>
      </p>
    </form>
  </div>
  
</ion-content>