<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="custom-row">
    <ion-col class="left-col" style="background-color: rgba(0, 255, 255, 0);">
      <div class="register-container">
        <form class="mt-0" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="logo-container">
            <img src="assets/images/UTEQC.png" alt="Logo" class="logo">
          </div>
          <ion-list class="mt-4" >
            <!-- Nombre -->
            <ion-item>
              <ion-note *ngIf="registerForm.controls['nombre'].invalid && registerForm.controls['nombre'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="nombre" label="Nombre" labelPlacement="floating" placeholder=""></ion-input>
            </ion-item>
            <!-- Apellido Paterno -->
            <ion-item>
              <ion-note
                *ngIf="registerForm.controls['apellido_paterno'].invalid && registerForm.controls['apellido_paterno'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="apellido_paterno" label="Apellido Paterno" labelPlacement="floating"
                placeholder=""></ion-input>
            </ion-item>
            <!-- Apellido Materno -->
            <ion-item>
              <ion-note
                *ngIf="registerForm.controls['apellido_materno'].invalid && registerForm.controls['apellido_materno'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="apellido_materno" label="Apellido Materno" labelPlacement="floating"
                placeholder=""></ion-input>
            </ion-item>
            <!-- Email -->
            <ion-item>
              <ion-note *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="email" type="email" label="Email" labelPlacement="floating"
                placeholder="nombre@gmail.com"></ion-input>
            </ion-item>
            <!-- Contraseña -->
            <ion-item>
              <ion-note *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="password" type="password" label="Contraseña" labelPlacement="floating"
                placeholder="--- --- --- --- ---"></ion-input>
            </ion-item>
            <!-- Repetir Contraseña -->
            <ion-item>
              <ion-note
                *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.controls['confirm_password'].touched"
                color="danger" style="font-size:7px;">
                *Obligatorio
              </ion-note>
              <ion-input formControlName="confirm_password" type="password" label="Repetir Contraseña"
                labelPlacement="floating" placeholder="--- --- --- --- ---"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Registrar</ion-button>
        </form>
      </div>
    </ion-col>
    <ion-col class="right-col animacion_TEXT" style="background-color: rgba(25, 101, 101, 0);">
      <!-- <img src="assets/images/UTEQC.png" alt="Logo" class="logo-img"> -->
      <br>
      <br>
      ¡Bienvenido a UTEQ Commers!
      <br><br>
      Estamos emocionados de tenerte aquí. Con UTEQ Commers, puedes explorar y comprar una variedad de productos dentro
      de nuestra universidad, todo desde la comodidad de tu dispositivo. Desde alimentos hasta útiles académicos,
      estamos aquí para facilitar tu experiencia diaria en el campus.

      ¡Regístrate, descubre lo que otros ofrecen, y disfruta de una experiencia de compra rápida y sencilla!
    </ion-col>
  </ion-row>
</ion-content>