<ion-header class="header_home">
  <ion-toolbar class="custom-toolbar barra_web1" color="nome">
    <ion-buttons class="menu-button" slot="start">
      <!-- ------  -->
      <ion-button class="btn_decorate_all" (click)="refreshProductos()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button class="btn_decorate_all size_text">
        Todo
        <img src="assets/images/all.png" alt="Logo" class="img_icon ms-1" loading="lazy">
      </ion-button>
      <ion-button class="btn_decorate_all size_text">
        Comida
        <img src="assets/images/comida.png" alt="Logo" class="img_icon ms-1" loading="lazy">
      </ion-button>
      <ion-button class="btn_decorate_all size_text">
        Papeleria
        <img src="assets/images/papeleria.png" alt="Logo" class="img_icon ms-1" loading="lazy">
      </ion-button>
      <ion-button class="btn_decorate_all size_text">
        Tecnología
        <img src="assets/images/tecnologia.png" alt="Logo" class="img_icon ms-1" loading="lazy">
      </ion-button>
      <!-- ------  -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- DEGREDADO  -->
  <div class="ofertas_contenido">
    <br>
    <p class="text_inicio">Te presentamos una selección de productos que no te puedes perder. ¡Descubre lo que tenemos
      para ti!</p>
  </div>
  <!-- --- --- https://cervaya.pro/ApiUcommers/storage/app/public/productos/ -->
  <div class="pocicion_cartas">
    <ion-grid class="filas_cartas" *ngIf="isLargeScreen">
      <ion-row>
        <ion-col class="columna_producto" *ngFor="let producto of productos">
          <ion-card class="tarjeta_producto animacion_carta" (click)="verDetalleProducto(producto.id)">
            <img
              [src]="producto.imagen ? 'https://cervaya.pro/ApiUcommers/storage/app/public/productos/' + producto.imagen : 'assets/img_all/XD.jpg'"
              alt="Imagen de {{ producto.nombre }}" class="imagen_producto" />
            <ion-card-header>
              <ion-card-title class="titulo_producto">{{ producto.nombre }}</ion-card-title>
              <ion-card-subtitle class="precio_producto">${{ producto.precio }} <span class="descuento">{{
                  producto.stock
                  }} exist</span></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="contenido_producto">
              <p>{{ producto.descripcion.length > 15 ? (producto.descripcion | slice:0:15) + '...' :
                producto.descripcion }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="lista_productos" *ngIf="!isLargeScreen">
    <ion-item class="item_completo" *ngFor="let producto of productos" (click)="verDetalleProducto(producto.id)">
      <ion-thumbnail slot="start">
        <img
          [src]="producto.imagen ? 'https://cervaya.pro/ApiUcommers/storage/app/public/productos/' + producto.imagen : 'assets/img_all/XD.jpg'"
          alt="Imagen de {{ producto.nombre }}" class="imagen_producto_list" />
      </ion-thumbnail>
      <ion-label>
        <h2 class="titulo_producto_list">{{ producto.nombre }}</h2>
        <p class="precio_producto_list">${{ producto.precio }} <span class="descuento_list">{{ producto.stock }}
            exist</span></p>
        <p>{{ producto.descripcion}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-button class="text_categorias" id="click-trigger">
        Categorías
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-button fill="clear">
            Comida y bebidas
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            Dulces
          </ion-button>
          <ion-button fill="clear">
            Paeleria
          </ion-button>
        </ng-template>
      </ion-popover> -->