$color-fondo: #f9f9f9;
$color-titulo: #333;
$color-precio: #ff5722;
$color-descuento: #4caf50;
$color-texto: #666;


.custom-toolbar {
  // arriba, derecha, abajo, izquierda
  padding: 0rem 0rem 0rem 0rem;
}

.button_carrito {
  display: block;
}


.custom-search-bar {
  --box-shadow: none;
  /* Elimina cualquier sombra del searchbar */
  --background: #ffffff;
  /* Opcional: Cambia el fondo si lo deseas */
}

.ofertas_contenido {
  // background: linear-gradient(to bottom, var(--primary-all-v1) 0%, #0a5ae377 100%) !important;
  background: linear-gradient(to bottom, var(--primary-all-v1) 0%, rgba(255, 255, 255, 1) 100%) !important;
  padding: 20px;
  text-align: center; // Centrar texto
  color: white; // Color de texto blanco
  border-radius: 0px; // Bordes redondeados
}

// texto de oferta inicio
.titulo_v1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(255, 235, 11);
  font-size: 2rem !important;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.182);
  /* Bordes en navegadores WebKit */
}

.ofertas_texto h2 {
  font-size: 2rem;
  margin: 0;
}

.ofertas_texto p {
  font-size: 1.2rem;
  margin: 10px 0 0;
}

// --- Movil 📱 ---

/* Para pantallas de móviles (hasta 480px) */
@media (max-width: 480px) {
  .header_home {
    margin-top: 3rem !important;
  }

  .ofertas_texto h2 {
    font-size: 15px;
    margin: 0;
  }

  .button_carrito {
    display: none !important;
  }


  .ofertas_texto p {
    font-size: 12px;
    margin: 10px 0 0;
  }

  .text_categorias {
    font-size: 11px !important;
  }

  // imagen en home de publicidad 
  .img_pubicidad {
    width: 60%;
    height: auto;
  }

  // ----  CARTAS ----

  .contenido_catalogo {
    background-color: $color-fondo;
  }

  .fila_productos {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en varias líneas
    justify-content: center; // Centra los elementos en la fila
  }

  .columna_producto {
    flex: 1 1 190px; //Ancho de la carta 
  }

  .tarjeta_producto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.052);
    border-radius: 10px;
    margin: 0px;
    transition: transform 0.2s;
    max-width: 190px; // Establece la Ancho máxima de la tarjeta
    overflow: hidden; // Oculta cualquier contenido que exceda la altura máxima

    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
    }
  }

  .imagen_producto {
    width: 100%;
    /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: 100px;
    /* Define una altura fija para que todas las imágenes tengan la misma altura */
    object-fit: cover;
    /* La imagen se ajustará al contenedor, recortando si es necesario */
    margin: 0 auto;
    /* Asegura que la imagen esté centrada */
  }

  .titulo_producto {
    font-weight: bold;
    font-size: 12px;
    color: $color-titulo;
  }

  .precio_producto {
    color: $color-precio;
    font-size: 15px;
  }

  .descuento {
    font-size: 10px;
    color: $color-descuento;
  }

  .contenido_producto {
    color: $color-texto;
  }

  // ---- FIN DE LA CARTA ----

}

/* Para pantallas de tablets pequeñas (entre 481px y 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .header_home {
    margin-top: 3rem !important;
  }

  // imagen en home de publicidad 
  .img_pubicidad {
    width: 35%;
    height: auto;
  }

  .button_carrito {
    display: none !important;
  }


  .ofertas_texto h2 {
    font-size: 17px;
    margin: 0;
  }

  .ofertas_texto p {
    font-size: 10px;
    margin: 10px 0 0;
  }

  .text_categorias {
    font-size: 11px !important;
  }

  // ----  CARTAS ----

  .contenido_catalogo {
    background-color: $color-fondo;
  }

  .fila_productos {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en varias líneas
    justify-content: center; // Centra los elementos en la fila
  }

  .columna_producto {
    flex: 1 1 200px; //Ancho de la carta 
  }

  .tarjeta_producto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
    max-width: 200px; // Establece la Ancho máxima de la tarjeta
    overflow: hidden; // Oculta cualquier contenido que exceda la altura máxima

    &:hover {

      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
    }
  }

  .imagen_producto {
    width: 100%;
    /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: 120px;
    /* Define una altura fija para que todas las imágenes tengan la misma altura */
    object-fit: cover;
    /* La imagen se ajustará al contenedor, recortando si es necesario */
    margin: 0 auto;
    /* Asegura que la imagen esté centrada */
  }

  .titulo_producto {
    font-weight: bold;
    font-size: 14px;
    color: $color-titulo;
  }

  .precio_producto {
    color: $color-precio;
    font-size: 1.2em;
  }

  .descuento {
    font-size: 10px;
    color: $color-descuento;
  }

  .contenido_producto {
    color: $color-texto;
  }

  // ---- FIN DE LA CARTA ----

}

// --- WEB 💻 ---

/* Para pantallas de tablets grandes (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .custom-toolbar {
    // arriba, derecha, abajo, izquierda
    padding: 0rem 5rem 0rem 0rem;
  }

  .button_carrito {
    display: none !important;
  }


  // imagen en home de publicidad 
  .img_pubicidad {
    width: 30%;
    height: auto;
  }

  // ----  CARTAS ----

  .contenido_catalogo {
    background-color: $color-fondo;
  }

  .fila_productos {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en varias líneas
    justify-content: center; // Centra los elementos en la fila
  }

  .columna_producto {
    flex: 1 1 200px; //Ancho de la carta 
  }

  .tarjeta_producto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
    max-width: 200px; // Establece la Ancho máxima de la tarjeta
    overflow: hidden; // Oculta cualquier contenido que exceda la altura máxima

    &:hover {

      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
    }
  }

  .imagen_producto {
    width: 100%;
    /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: 200px;
    /* Define una altura fija para que todas las imágenes tengan la misma altura */
    object-fit: cover;
    /* La imagen se ajustará al contenedor, recortando si es necesario */
    margin: 0 auto;
    /* Asegura que la imagen esté centrada */
  }

  .titulo_producto {
    font-weight: bold;
    font-size: 14px;
    color: $color-titulo;
  }

  .precio_producto {
    color: $color-precio;
    font-size: 1.2em;
  }

  .descuento {
    font-size: 0.8em;
    color: $color-descuento;
  }

  .contenido_producto {
    color: $color-texto;
  }

  // ---- FIN DE LA CARTA ----
}

/* Para pantallas de escritorio pequeñas (entre 1025px y 1280px) */
@media (min-width: 1025px) and (max-width: 1280px) {
  .custom-toolbar {
    // arriba, derecha, abajo, izquierda
    padding: 0rem 25rem 0rem 0rem;
  }

  // imagen en home de publicidad 
  .img_pubicidad {
    width: 30%;
    height: auto;
  }

  // ----  CARTAS ----

  .contenido_catalogo {
    background-color: $color-fondo;
  }

  .fila_productos {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en varias líneas
    justify-content: center; // Centra los elementos en la fila
  }

  .columna_producto {
    flex: 1 1 250px; //Ancho de la carta 
  }

  .tarjeta_producto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
    max-width: 250px; // Establece la Ancho máxima de la tarjeta
    overflow: hidden; // Oculta cualquier contenido que exceda la altura máxima

    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
    }
  }

  .imagen_producto {
    width: 100%;
    /* La imagen ocupa el 100% del ancho de la tarjeta */
    height: 200px;
    /* Define una altura fija para que todas las imágenes tengan la misma altura */
    object-fit: cover;
    /* La imagen se ajustará al contenedor, recortando si es necesario */
    margin: 0 auto;
    /* Asegura que la imagen esté centrada */
  }

  .titulo_producto {
    font-weight: bold;
    font-size: 14px;
    color: $color-titulo;
  }

  .precio_producto {
    color: $color-precio;
    font-size: 1.2em;
  }

  .descuento {
    font-size: 0.8em;
    color: $color-descuento;
  }

  .contenido_producto {
    color: $color-texto;
  }

  // ---- FIN DE LA CARTA ---- 
}

/* Para pantallas de escritorio grandes (más de 1280px) */
@media (min-width: 1281px) {

  .custom-toolbar {
    // arriba, derecha, abajo, izquierda
    padding: 0rem 45rem 0rem 0rem;
  }

  // imagen en home de publicidad 
  .img_pubicidad {
    width: 30%;
    height: auto;
  }

  // ----  CARTAS ----

  .contenido_catalogo {
    background-color: $color-fondo;
  }

  .fila_productos {
    display: flex;
    flex-wrap: wrap; // Permite que los elementos se ajusten en varias líneas
    justify-content: center; // Centra los elementos en la fila
  }

  .columna_producto {
    flex: 1 1 280px; //Ancho de la carta 
  }

  .tarjeta_producto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.2s;
    max-width: 280px; // Establece la Ancho máxima de la tarjeta
    overflow: hidden; // Oculta cualquier contenido que exceda la altura máxima

    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.352);
    }
  }


  .imagen_producto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    /* La imagen se ajustará al contenedor, recortando si es necesario */
    margin: 0 auto;
    padding: 5px;
  }

  .titulo_producto {
    font-weight: bold;
    font-size: 14px;
    color: $color-titulo;
  }

  .precio_producto {
    color: $color-precio;
    font-size: 1.2em;
  }

  .descuento {
    font-size: 0.8em;
    color: $color-descuento;
  }

  .contenido_producto {
    color: $color-texto;
  }

  // ---- FIN DE LA CARTA ---- 
}