<ion-header class="header_home">
  <ion-toolbar class="custom-toolbar barra_web1" color="nome">
    <ion-searchbar placeholder="Buscar..." class="custom-search-bar"></ion-searchbar>
    <ion-buttons class="menu-button" slot="end">
      <!-- ocultar_movil mostrar_web -->
      <!-- <ion-button id="open-categories" class="" shape="round">
        Categorías
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button> -->
      <ion-button class="text_categorias" color="light" style="font-weight: bold;" id="click-trigger">
        Categorías
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-button>
      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-button fill="clear">
            Comida y bebidas
            <ion-icon name="fast-food-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear">
            Dulces
          </ion-button>
          <ion-button fill="clear">
            Paeleria
          </ion-button>
        </ng-template>
      </ion-popover>

      <!-- <ion-button class="ocultar_web mostrar_movil" id="open-action-sheet">Categorias</ion-button>
      <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido_catalogo">
  <!-- aqui quieor un contenido antes de catalogo como para mostrar oretas con fondo background  -->
  <div class="ofertas_contenido">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ofertas_texto">
          <p class="titulo_v1" >Ofertas</p>
          <p>Obtén hasta un 10% de descuento aplicando el cupón <strong>FULL·SÚPER</strong></p>
        </ion-col>
        <ion-col>
          <img src="assets/img_all/publicidad.png" class="img_pubicidad" alt="publicidad atrevida">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- --- ---  -->
  <ion-grid class="mt-3">
    <ion-row class="fila_productos">
      <ion-col class="columna_producto" *ngFor="let producto of productos">
        <ion-card class="tarjeta_producto">
          <img [src]="producto.imagen" alt="Imagen de {{ producto.nombre }}" class="imagen_producto" />
          <ion-card-header>
            <ion-card-title class="titulo_producto">{{ producto.nombre }}</ion-card-title>
            <ion-card-subtitle class="precio_producto">${{ producto.precio }} <span class="descuento">{{
                producto.descuento }} exist</span></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="contenido_producto">
            <p>{{ producto.descripcion }}</p>
          </ion-card-content>
          <ion-button class="button_carrito" color="primary"  fill="outline">
            agregar al carrito <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>