<ion-content>
  <div *ngIf="mensaje" class="cont_msj">
    <h5 class="text-danger text_msj">{{ mensaje }}</h5>
  </div>
  <ion-grid *ngFor="let vendedor of productos | keyvalue" class="carstas_x_vendedor">
    <ion-row>
      <span class="card_productos_carrito">
        <ion-card *ngFor="let producto of vendedor.value.productos">
          <ion-grid>
            <ion-row>

              <ion-col>
                <div class="espacio_img">
                  <img [src]="urlImg + '/' + producto.imagen" alt="imagen del producto" class="imagen_producto" />
                </div>
              </ion-col>

              <ion-col class="descripcion_products">
                <p>
                  {{ producto.nombre }}
                  <br>
                  <strong style="font-size: 15px;" class="text-success">${{ producto.precio }}</strong>
                  <span class="ms-2 text-dark">{{producto.stock}} Exist</span>
                  <br>
                  {{ producto.descripcion }}
                </p>
                <ion-buttons class="menu-button">
                  <ion-button class="btn_decorate_all size_text" color="danger"
                    (click)="confirmarEliminarCarrito(producto.id)">
                    Eliminar
                  </ion-button>
                  <ion-button class="btn_decorate_all size_text" color="primary">
                    Comprar ahora
                  </ion-button>
                </ion-buttons>
              </ion-col>

              <ion-col class="seccion_cantidad">
                <ion-item>
                  <div class="contador">
                    <!-- Botón de decremento -->
                    <ion-button size="small" color="primary" fill="outline" (click)="decrementarCantidad(producto)"
                      [disabled]="producto.cantidad <= 1">
                      -
                    </ion-button>

                    <!-- Campo de entrada -->
                    <ion-input type="number" [(ngModel)]="producto.cantidad" [value]="producto.cantidad" readonly>
                    </ion-input>

                    <!-- Botón de incremento -->
                    <ion-button size="small" color="secondary" fill="outline" (click)="incrementarCantidad(producto)"
                      [disabled]="producto.cantidad >= producto.stock">
                        +
                    </ion-button>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </span>

      <ion-card class="total_pagar_x_vendedor">
        <h5>Resumen de compra</h5>
        <h6>{{ vendedor.value.NombreVendedor }}</h6>
        <hr>
        <p class="text-danger">Productos</p>
        <div class="text-muted">
          <p>
            <span *ngFor="let producto of vendedor.value.productos">
              {{ producto.nombre }} | ${{producto.precio}} | $360.00
              <br>
            </span>
          </p>
        </div>
        <ion-button color="success">Pagar</ion-button>
      </ion-card>

    </ion-row>
  </ion-grid>


</ion-content>
[*]  